.shopping-cart-container {
    min-height: 61vh;
}

.shopping-cart {
    display: flex;
}

.products {
    flex: 3;
    margin-right: 10px;
}

.receipt {
    flex: 2;
    margin-left: 10px;
    margin-right: 10px;
    min-height: 360px;
    height: max-content;
    border: solid 1px #F3F3F3;
    border-radius: 3px;
    padding-bottom: 10px;
}

.receipt-hidden {
    display: none;
}

.receip-header {
    position: relative;
    background-color: #F3F3F3;
    height: 80px;
}

.receipt img {
    width: 70px;
    position: absolute;
    top: 5px;
    left: 10px;
}

.order-confirmation {
    /*Position*/
    position: absolute;
    top: 30px;
    left: 170px;

    /*Style*/
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.totalToPay {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.total-to-pay {
    margin-top: 20px;
}

.totalToPay span {
    font-weight: 600;
}

.totalToPay-discount{
    margin-top: 35px;
    font-size: 25px;
    display: block;
}

.totalToPay-discount-hiden {
    margin-top: 35px;
    font-size: 25px;
    display: none;
}

.btn-cancel {
    margin-top: 40px;
    margin-right: 5px;
}

.btn-pay {
    margin-top: 10px;
    margin-left: 5px;
    background-color: #16B4F2;
    border: 1px solid #16B4F2;
}

.dicount {
    margin-top: 30px;
}

.btn-apply {
    margin-left: 10px;
}

.span-total-to-pay{
    font-style: italic;
    text-decoration: line-through #FE4543 3px;
}