.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn-primary{
  height: 33px;
  width: auto;
  background-color: #FE4543;
  text-align: center;
  border-radius: 3px;
  border: #FE4543 solid 1px;
  color: #FFFFFF;
  font-weight: 600;
}

.btn-primary:hover{
  color: #FE4543;
  background: #FFFFFF;
  cursor: pointer;
}

.ip-search{
  border: solid 1px #E6E6E6;
  height: 20px;
  border-radius: 3px;
  padding: 5px;
}


.ip-search:hover{
  border: solid 1px #FE4543;
  
}